# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

#chat
*.md

# Workspace
*.code-workspace

*.sqlite
apps/api/.wrangler/state/v3/d1/miniflare-D1DatabaseObject/bfee569d6c0ef95c39926f8951042744027ccd41bdf82a2572cd13470460d61f.sqlite
